Options All -Indexes

#indexar directorios

RewriteEngine On 
RewriteRule ^([-a-zA-Z0-9/]+)$ index.php?pages=$1

#Asegurando el archivo htaccess
<Files .htaccess>
order allow,deny
deny from all
</Files>
